---
title: all tags
layout: home.njk
---
<div class="title">
    <h1>查看所有的 tags </h1>
    <span>{{collections.tags.length}}</span>
</div>

<h3>目前总共有 {{collections.tags.length}} 个 tags</h3>

<ul class="loopColor">
    {% for item in collections.tags %}
        <li>
            <a href="./{{item.key}}">
                {{item.key}} : {{item.value}}
            </a>
        </li>
    {% endfor %}
</ul>

<style>

</style>