---
layout: home.njk
---
<div class="title">
    <h1>查看所有的tags</h1>
    <span></span>
</div>


<ul class="loopColor">
    {% for item in collections.tags %}
        <li>
            <a href="./{{item.key}}">
                {{item.key}} : {{item.value}}
            </a>
        </li>
    {% endfor %}
</ul>

<style>

</style>