---
layout: "base.njk"
---

<div id="body">
    <aside>
        <div id="base_info">
            <a href="/" style="display: flex;">
                <img class="favicon" src="/assets/image/small.avif" alt="logo">
            </a>
            <a href="/about">
                <h1 class="name" style="color: #7ee777;font-size: 2;">IAALAI</h1>
            </a>
            <h4 class="desc">我的 blog ,随便记录一点什么吧</h4>
            <ul>
                <li>
                    <a href="/archive">
                        <div>文章</div>
                        <div>{{ collections.posts.length }}</div>
                    </a>
                </li>
                <li>
                    <a href="/categories">
                        <div>分类</div>
                        <div>{{ categories.length }}</div>
                    </a>
                </li>
                <li>
                    <a href="/tags">
                        <div>标签</div>
                        <div>{{ tags.length }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block_info">
            <a href="/categories">
                <div class="title">
                    <div class="name">分类</div>
                    <div class="desc">点击查看全部分类</div>
                </div>
            </a>
            <ul>
                {% for item in categories %}
                    <a href="/categories/{{item.title}}.html">
                    <li>{{item.title}}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="block_info">
            <a href="/tags">
                <div class="title">
                    <div class="name">标签</div>
                </div>
            </a>
            <div>
                {% for item in tags %}
                    <a href="/tags/{{item.title}}.html">
                        <span>{{item}}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="block_info">
            <a href="/archive">
                <div class="title">
                    <div class="name">归档</div>
                </div>
            </a>
        </div>       
    </aside>
    <main>
        {{ content | safe }}
    </main>
</div>

<style>
    #body {
        padding: 24px;
        display: flex;
        gap: 12px;

        & aside {
            width: 35%;
            max-width: 550px;
            min-width: 250px;
            gap: 20px;
            display: flex;
            flex-direction: column;

            >div {
                padding: 24px 0;
                background-color: #222;
                border-radius: 15px;
            }

            & #base_info {
                display: flex;
                flex-direction: column;
                gap: 1em;
                .favicon {
                    height: 128px;
                    width: 128px;
                    border-radius: 50%;
                    margin: 0 auto;
                }

                .name {
                    text-align: center;
                }

                .desc {
                    text-align: center;
                    color: #ccc;
                }

                & ul {
                    display: flex;
                    justify-content: center;

                    >li {
                        flex: 1;
                        text-align: center;

                        & a >div:first-child {
                            font-size: 1.2em;
                            padding-bottom: 14px;
                        }

                        & a >div:last-child {
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .block_info {
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 18px;


                .title {
                    display: flex;
                    justify-content: space-between;
                    & .name {
                        font-size: 1.5em;
                    }
                    & .desc {
                        line-height: 2;
                        color: #ccc;
                    }
                }
                & ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    & a:hover {
                        color: #7ee777;
                    }
                }
            }
        }

        & main {
            flex: 1;
            padding: 1.5em 1em;
            background-color: #222;
            border-radius: 15px;
        }
    }
</style>