---
layout: home.njk
pagination:
    data: collections.posts
    size: 10
    alias: value
permalink: "/archive/{{pagination.pageNumber + 1}}.html"
---

<h1>第 {{pagination.pageNumber + 1}} 页</h1>

{% for item in value %}
<ul>
    <li>
        <a href="">{{ item }}
        </a>
    </li>
</ul>
{% endfor %}