---
layout: "home.njk"
pagination:
    data: categories
    size: 1
    alias: value
permalink: "/categories/{{value.title}}.html"
---
<h1>{{value.title}}</h1>

{% for item in collection.cetegories[value] %}
    <li>
        <a href="{{item.data.permalink}}">
            <div class="title">{{item.data.title}}</div>
            <div class="desc">{{item.data.description}}</div>
        </a>
    </li>
{% endfor %}