---
layout: "base.njk"
---

<div id="body">
    <aside>
        <div id="base_info">
            <a href="/" style="display: flex;">
                <img class="favicon" src="/assets/image/small.avif" alt="logo">
            </a>
            <a href="/about">
                <h2 class="name" style="color: #7ee777;font-size: 2;">IAALAI</h2>
            </a>
            <h4 class="desc">我的 blog ,随便记录一点什么吧</h4>
            <ul>
                <li>
                    <a href="/archive">
                        <div>文章</div>
                        <div>{{ collections.posts.length }}</div>
                    </a>
                </li>
                <li>
                    <a href="/categories">
                        <div>分类</div>
                        <div>{{ categories.length }}</div>
                    </a>
                </li>
                <li>
                    <a href="/tags">
                        <div>标签</div>
                        <div>{{ collections.tags.length }}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block_info">
            <a href="/categories">
                <div class="title">
                    <div class="name">分类</div>
                    <div class="desc">点击查看全部分类</div>
                </div>
            </a>
            <ul class="categories">
                {% for item in categories %}
                <li>
                    <a href="/categories/{{item.title}}.html">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block_info">
            <a href="/tags">
                <div class="title">
                    <div class="name">标签</div>
                    <div class="desc">点击查看全部标签</div>
                </div>
            </a>
            <ul class="tags loopColor">
                {% for item in collections.tags %}
                <li>
                    <a href="/tags/{{item.key}}.html">
                        <span>{{item.key}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block_info">
            <a href="/archive">
                <div class="title">
                    <div class="name">归档</div>
                    <div class="desc">点击查看全部文章</div>
                </div>
            </a>
            <ul class="archive">
                {% for item in collections.archive.slice(-10) %}
                <li>
                    <a href="/archive/#{{item.year}}_{{item.month}}">
                        <span>{{ item.year }}年{{ item.month }}月</span>
                        <span>共有 {{ item.value.length }} 篇</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>       
    </aside>
    <main>
        {{ content | safe }}
    </main>
</div>

<link rel="stylesheet" href="/assets/style/home.css">