---
layout: home.njk
---
<h1>archive</h1>

共有 {{ collections.archive.length }} 期

{% for item in collections.archive %}
    <div>
        <h3 id="{{ item.year }}_{{ item.month }}">{{ item.year }}年{{ item.month }}月</h3>
        <div>
            共有 {{ item.value.length }} 篇
        </div>
        <ul>
            <li>
                {% for post in item.value %}
                    <div style="display: flex;justify-content: space-between;">
                        <span>{{ post.data.title}}</span>
                        <span> {{ post.date.getFullYear() }} / {{ post.date.getMonth() + 1 }}</span>
                    </div>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endfor %}

<div style="height: 2000px;"></div>
