---
title: archive
layout: home.njk
---

<div class="title">
    <h1>archive</h1>
    <h3>
        <p>共有 {{collections.posts.length}} 篇文章</p>
    </h>
</div>


{% for item in collections.archive %}
    <div>
        <div class="title">
            <h3 id="{{ item.year }}_{{ item.month }}">{{ item.year }}年{{ item.month }}月</h3>
            <div>
                共有 {{ item.value.length }} 篇
            </div>
        </div>
        <ul>
            <li>
                {% for post in item.value %}
                    <a href="{{ post.page.url }}">
                        <div style="display: flex;justify-content: space-between;">
                            <span>{{ post.data.title}}</span>
                            <span> {{ post.date.getFullYear() }} - {{ post.date.getMonth() + 1 }} - {{ post.date.getDate() }}</span>
                        </div>
                    </a>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endfor %}

<style>

</style>
