---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
{% if not item.data.noindex %}
    <url>
        <loc>{{site.full_host}}{{item.page.url}}</loc>
        <lastmod>
            {% if item and item.data and item.data.last %}
                {{ item.data.last.toISOString() }}
            {% else %}
                {{ build.date.toISOString() }}
            {% endif %}
        </lastmod>
    </url>
{% endif %}
{% endfor %}
</urlset>